__pycache__/*
output.json
p.py
d.py
t.py
ap.db
appd.db
image/*
templates/admin_login.html
templates/admin_menu.html
templates/edit.html
templates/add.html
templates/list.html
templates/*.db.idea/
.idea/*
.idea/
.idea/workspace.xml
migrate.py
app_backup_20251230_152252.db