{% extends 'base.html' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">
        <a href="{{ url_for('logout') }}">
            <button class="btn-left">Выход</button>
        </a>
        <div class="hero-content">
            <h1 class="hero-title">Панель управления</h1>

            <div class="button-container">
                <a href="{{ url_for('memo') }}">
                    <button class="secondary-button">Инструкция</button>
                </a>
                <a href="{{ url_for('testing_management') }}">
                    <button class="primary-button">Настроить тренировку</button>
                </a>

                <a href="{{ url_for('DB_management')}}">
                    <button class="secondary-button">Управление банком заданий</button>
                </a>
            </div>
        </div>
    </div>

</section>

{% endblock %}
{% set show_footer = False %}


