{% extends 'base.html' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">

        <div class="hero-content">
            <h1 class="hero-title">Управление банком заданий</h1>

            <div class="button-container">
                <a href="{{ url_for('memo') }}">
                    <button class="secondary-button">Инструкция</button>
                </a>
                <a href="{{ url_for('DB_msg_edit') }}">
                    <button class="primary-button">Редактировать</button>
                </a>
                
                <a href="{{ url_for('DB_msg_create')}}">
                    <button class="secondary-button">Создать</button>
                </a>
            </div>
        </div>
    </div>

</section>
<footer><a href="{{ url_for('dashboard') }}"><button type="button">Главная панель</button></a></footer>
{% endblock %}

{% set show_footer = False %}