{% extends 'base.html' %}
{% block title %}Результаты тренировки{% endblock %}

{% block content %}
    <h1>Создать сообщение</h1>

    <form method="post" action="{{ url_for('DB_msg_create') }}">
      <div class="vertical-form">
        <label>Текст сообщения</label>
        <textarea
          id="message_text"
          name="msg_txt"
          rows="15"
          cols="25"
          placeholder="Текст"
        ></textarea>

        <button type="submit" disabled>Создать</button>
      </div>
    </form>

<script src="etc/js/main.js"></script>
{% endblock %}
{% set show_footer = False %}