{% extends 'base.html' %}

{% block title %}
    Управление уроками
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Управление банком уроков</h1>

        <section>
            <h2>Урок - объект, позволяющий настроить занятие с сообщениями из БД</h2>
        </section>

        <section>
            <h2>Основные характеристики</h2>
            <ul>
                <li>Вопросы - сообщения из БД</li>
                <li>Время - ограничение урока по времени(0 - нет ограничения)</li>
                <li>Цена за ответы - опыт за (не)правильные ответы</li>
            </ul>
        </section>

        <section>
            <section>
                <h1>"Создание"</h1>
                <p>1) Придумаете уникальное название урока</p>
                <p></p>
                <p>2) Укажите время, если хотите его ограничить. Иначе пропустите</p>
                <p></p>
                <p>3) Укажите цену за ответы. В режиме тестирования будет использоваться именно она</p>
                <p>(При создании сообщений указывается цена для режима тренировки)</p>
                <p></p>
                <p>4) Выберете сообщения для урока или укажите количество (они выберутся автоматически)</p>
            </section>

            <section>
                <h1>"Редактирование"</h1>
                <p>Вы можете:</p>
                <ul>
                    <li>Посмотреть список созданных уроков</li>
                    <li>Отредактировать характеристики как при создании</li>
                    <li>Удалить уроки</li>
                </ul>
            </section>
        </section>

    </div>
<p><a href="{{ url_for('testing_management') }}" class="btn">← назад</a></p>

{% endblock %}
{% set show_footer = False %}