{% extends 'base.html' %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<section class="hero-section">

    <div class="container">

        <div class="hero-content">
            <h1 class="hero-title">Управление тестированиями</h1>

            <table border="1" cellpadding="5" id="messagesTable">
              <tr>
                <th>Тестирования</th><th>Группы</th><th>Уроки</th>
              </tr>
              <tr class="msg_row">
                <td>
                    <div class="button-container">
                        <a href="{{ url_for('DB_management_instruction') }}">
                            <button class="secondary-button">Инструкция</button>
                        </a>
                    </div>
                </td>
                <td>
                  <div style="max-height: 150px; overflow-y: auto; border: 1px solid #eee; padding: 5px;">

                  </div>
                </td>
                <td>
                    <a href="{{ url_for('lesson_create')}}">
                        <button class="secondary-button">Создать урок</button>
                    </a>
                </td>
              </tr>
              <tr class="msg_row">
                <td>
                    <div class="button-container">
                        <a href="{{ url_for('DB_management_instruction') }}">
                            <button class="secondary-button">Инструкция</button>
                        </a>
                    </div>
                </td>
                <td>
                  <div style="max-height: 150px; overflow-y: auto; border: 1px solid #eee; padding: 5px;">

                  </div>
                </td>
                <td>
                    <a href="{{ url_for('lesson_list') }}">
                        <button class="primary-button">Изменить урок</button>
                    </a>
                </td>
              </tr>

              <tr class="msg_row">
                <td>
                    <div class="button-container">
                        <a href="{{ url_for('DB_management_instruction') }}">
                            <button class="secondary-button">Инструкция</button>
                        </a>
                    </div>
                </td>
                <td>
                  <div style="max-height: 150px; overflow-y: auto; border: 1px solid #eee; padding: 5px;">

                  </div>
                </td>
                <td>
                    <a href="{{ url_for('lesson_list') }}">
                        <button class="primary-button">Инструкция</button>
                    </a>
                </td>
              </tr>
            </table>
        </div>
    </div>

</section>
<footer><a href="{{ url_for('dashboard') }}"><button type="button">Главная панель</button></a></footer>
{% endblock %}

{% set show_footer = False %}