{% extends 'base.html' %}

{% block title %}
    Управление тестированиями
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Управление тестированиями</h1>

        <section>
            <h2>Тестирование - позволяет провести урок для 1 или нескольких групп</h2>
        </section>

        <section>
            <h2>Основные характеристики</h2>
            <ul>
                <li>Урок с вопросами для тестирования</li>
                <li>Группы - участники тестирования</li>
                <li>Статус - позволяет проводить тестирования</li>
            </ul>
        </section>

        <section>
            <section>
                <h1>"Создание"</h1>
                <p>1) Придумаете уникальное название тестирования</p>
                <p></p>
                <p>2) Укажите урок для тестирования</p>
                <p></p>
                <p>3) Добавьте группы, которые примут участие в тестировании</p>
                <p></p>
                <p>4) Укажите статус: архив - тестирование хранится в БД, активно - идёт прямо сейчас</p>
                <p>(не рекомендуется держать одновременно активными более 1 тестирования)</p>
            </section>

            <section>
                <h1>"Редактирование"</h1>
                <p>Отредактируйте настройки тестирования (активируйте/отключите его)</p>
            </section>
            <section>
                <h2>Дополнительно</h2>
                <p>При активном тестировании пользователям достаточно войти в аккаунт и подтвердить участие, чтобы начать тестирование</p>
            </section>
        </section>

    </div>
<p><a href="{{ url_for('testing_management') }}" class="btn">← назад</a></p>

{% endblock %}
{% set show_footer = False %}