<!doctype html>
<html lang="ru">

<head>
<meta charset="utf-8">
{% block header %}
<title>{% block title %}Фейк‑детектор{% endblock %}</title>

<link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


{% endblock  %}
</head>
<body>
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash">{{ messages[0] }}</div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
  {% if show_footer|default(true) %}
  <footer><a href="{{ url_for('index') }}"><button type="button">Главная</button></a></footer>
  {% endif %}
</div>
</body>
</html>
