{% extends 'base.html' %}

{% block title %}
    Памятка
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Памятка по основам информационной грамотности в современном мире</h1>

        <section>
            <h2>Опасность ждёт вас:</h2>
            <!--<p>Вам будут представлены различные сообщения, которые могут прийти:</p>-->
            <ul>
                <li>В бычной почте</li>
                <li>В электронной почте</li>
                <li>В SMS-сообщениях</li>
                <li>На веб-сайтах</li>
            </ul>
        </section>

        <section>
            <h2>Ваша задача</h2>
            <p>Быть готовыми ко встречи с мошенникам в любой момент.</p>
        </section>

        <section>
            <h2>Помните!</h2>
            <p> Аферисты не стоят на месте. Они используют новые технологии, совершенствуются, придумывают всё более изощрённые схемы и прочее.</p>
            <p>Для того чтобы не стать их жертвой нужно помнить про опасность и сформировать у себя ряд полезных привычек: </p>
            <ul>
                <li><span class="highlight">Не используйте сомнительные сайты и приложения, используйте только официальный контент.</span></li>
                <p></p>
                <li><span class="highlight">Не передавайте личную информацию по телефону или через интернет, не совершайте ничего, что связано с перечислением денег, если получатель вызывает хоть малейшее сомнение.</span></li>
                <p></p>
                <li><span class="highlight">Перед вводом конфиденциальных данных и переводом денежных средств проверяйте надёжность источника. </span></li>
                <p></p>
                <li><span class="highlight">Отключите сохранение паролей, пользуйтесь сложными и разными паролями для разных сайтов.</span></li>
                <p></p>
                <li><span class="highlight">Никому не говорите свой ПИН-код, логины и пароли, коды, которые приходят вам в СМС-сообщениях.</span></li>
                <p></p>
                <li><span class="highlight">Проявляйте осторожность при заключении сделок через интернет или телефон. </span></li>
                <p></p>
                <li><span class="highlight">Следите за файлами, которые скачиваете.</span></li>
            </ul>
            
        </section>

        <section>
            <h3>Подводя итог</h3>
            <p>Самое главное знать, что угроза может поджидать вас везде, и всегда проявлять осторожность при использовании современных информационных ресурсов, тогда ваша жизнь станет гораздо безопаснее.</p>
        </section>
    </div>
{% endblock %}
