{% extends 'base.html' %}

{% block title %}
    Памятка
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Тестирование</h1>

        <section>
            <h2>Что вас ждёт</h2>
            <p>Вам будут представлены различные сообщения, которые могут прийти:</p>
            <ul>
                <li>По обычной почте</li>
                <li>По электронной почте</li>
                <li>В SMS-сообщениях</li>
                <li>На веб-сайтах</li>
            </ul>
        </section>

        <section>
            <h2>Ваша задача</h2>
            <p>Определить, являются ли представленные сообщения мошенническими или нет.</p>
        </section>

        <section>
            <h2>Система оценки</h2>
            <p>Ваш прогресс будет отражаться через показатель опыта:</p>
            <ul>
                <li><span class="highlight">Правильные ответы</span> — повышают уровень опыта</li>
                <li><span class="highlight">Неверные ответы</span> — снижают уровень опыта</li>
            </ul>
        </section>
        <div class="important">
            <h3>Важно</h3>
            <p>После последнего вопроса или при нажатии "Завершить тестирование" тестирование будет завершено и доступ к нему закроется</p>
        </div>
    </div>
    <p><a href="{{ url_for('test_room_preview') }}" class="btn">← назад</a></p>
{% endblock %}
{% set show_footer = False %}